PORT=8083
NODE_ENV=development
SERVICE_NAME=email-service
INTERNAL_API_KEY=

MAIL_MODE=log
MAIL_FROM=no-reply@gauas.com
MAIL_REPLY_TO=

MQ_URL=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
